This works on my B50

I just tried on my B60 and I can start it, but it seems a little slow so I think it actually uses the CPU, not GPU, since I only get 6.01 answer tokens/sec for the gemma4:latest model. 
Did you guys install anything before running the container? any additional drivers etc.?

Did you enable Vulkan or try the SYCL container, those made it faster for me.

I tried both containers.

I have the Vulkan drivers installed but they don't seem to be able to find my GPU (B60).
```bash
$ lspci -k | grep -A 3 -i 04:00.0
04:00.0 VGA compatible controller: Intel Corporation Battlemage G21 [Arc Pro B60]
        Subsystem: Sparkle Computer Co., Ltd. Device 0300
        Kernel modules: xe
```
According to ChatGPT the last line should be instead: `Kernel modules in use: xe`
To fix, ChatGPT told me to run this:
```bash
$ sudo grubby --update-kernel=ALL --args='xe.force_probe=e211 i915.force_probe=!e211'
```
All the steps recommended to me didn't work sadly (also not after restarting).

My packages are up-to-date and I'm on a complete reinstall I did since put in the GPU on Fedora Linux 43.

Maybe it also has some issues since I also have a Nvidia gpu installed at the same time to drive my displays but my main theory is still that the hardware is too new and too little supported for Fedora. Everything I've found points to Ubuntu, Rhel and Suse being the only ones fully working right now.
Neither Vulkan or Sycl makes a difference for me.

Pictures with outputs from containers that show CPU usage:
<img width="1897" height="68" alt="Image" src="https://github.com/user-attachments/assets/23a11494-e8a4-4d9e-a769-7bba78787c06" />

<img width="1890" height="53" alt="Image" src="https://github.com/user-attachments/assets/6e5c6777-4a65-482b-9d84-ddf9441294f6" />

But the /dev/dri component would be around as far as I can see that is referenced in the docker-compose files for the passthrough.
```bash
$ ls -l /dev/dri/
total 0
drwxr-xr-x. 2 root root        100 Apr 16 22:26 by-path
crw-rw----+ 1 root video  226,   1 Apr 16 22:26 card1
crw-rw-rw-. 1 root render 226, 128 Apr 16 22:26 renderD128
```

Do you mind uploading a bit more of the logs along with your config file? My system (Arc B50) seems to work the best with the Vulkan Backed and it seems to be the easiest to set up and a good place to start. You know its working when you see something similar to this:

`time=2026-04-16T22:18:21.707Z level=INFO source=ggml.go:482 msg="offloading 32 repeating layers to GPU"
time=2026-04-16T22:18:21.707Z level=INFO source=ggml.go:489 msg="offloading output layer to GPU"
time=2026-04-16T22:18:21.707Z level=INFO source=ggml.go:494 msg="offloaded 33/33 layers to GPU"`

```bash
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=ggml.go:482 msg="offloading 0 repeating layers to GPU"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=ggml.go:486 msg="offloading output layer to CPU"
```
This would be the full log:
```bash
$ podman compose -f docker-compose.ollama-sycl.yml up
>>>> Executing external compose provider "/usr/bin/podman-compose". Please see podman-compose(1) for how to disable this message. <<<<

[ollama-sycl] | time=2026-04-17T05:51:10.197Z level=INFO source=routes.go:1752 msg="server config" env="map[CUDA_VISIBLE_DEVICES: GGML_VK_VISIBLE_DEVICES: GPU_DEVICE_ORDINAL: HIP_VISIBLE_DEVICES: HSA_OVERRIDE_GFX_VERSION: HTTPS_PROXY: HTTP_PROXY: NO_PROXY:localhost,127.0.0.1,ollama-sycl OLLAMA_CONTEXT_LENGTH:0 OLLAMA_DEBUG:INFO OLLAMA_DEBUG_LOG_REQUESTS:false OLLAMA_EDITOR: OLLAMA_FLASH_ATTENTION:false OLLAMA_GPU_OVERHEAD:0 OLLAMA_HOST:http://0.0.0.0:11434 OLLAMA_KEEP_ALIVE:24h0m0s OLLAMA_KV_CACHE_TYPE: OLLAMA_LLM_LIBRARY: OLLAMA_LOAD_TIMEOUT:5m0s OLLAMA_MAX_LOADED_MODELS:0 OLLAMA_MAX_QUEUE:512 OLLAMA_MODELS:/root/.ollama/models OLLAMA_MULTIUSER_CACHE:false OLLAMA_NEW_ENGINE:false OLLAMA_NOHISTORY:false OLLAMA_NOPRUNE:false OLLAMA_NO_CLOUD:false OLLAMA_NUM_PARALLEL:1 OLLAMA_ORIGINS:[http://localhost https://localhost http://localhost:* https://localhost:* http://127.0.0.1 https://127.0.0.1 http://127.0.0.1:* https://127.0.0.1:* http://0.0.0.0 https://0.0.0.0 http://0.0.0.0:* https://0.0.0.0:* app://* file://* tauri://* vscode-webview://* vscode-file://*] OLLAMA_REMOTES:[ollama.com] OLLAMA_SCHED_SPREAD:false OLLAMA_VULKAN:false ROCR_VISIBLE_DEVICES: http_proxy: https_proxy: no_proxy:localhost,127.0.0.1,ollama-sycl]"
[ollama-sycl] | time=2026-04-17T05:51:10.197Z level=INFO source=routes.go:1754 msg="Ollama cloud disabled: false"
[ollama-sycl] | time=2026-04-17T05:51:10.199Z level=INFO source=images.go:499 msg="total blobs: 16"
[ollama-sycl] | time=2026-04-17T05:51:10.199Z level=INFO source=images.go:506 msg="total unused blobs removed: 0"
[ollama-sycl] | time=2026-04-17T05:51:10.200Z level=INFO source=routes.go:1810 msg="Listening on [::]:11434 (version 0.20.5)"
[ollama-sycl] | time=2026-04-17T05:51:10.200Z level=INFO source=runner.go:67 msg="discovering available GPUs..."
[ollama-sycl] | time=2026-04-17T05:51:10.201Z level=INFO source=server.go:444 msg="starting runner" cmd="/usr/bin/ollama runner --ollama-engine --port 45553"
[ollama-sycl] | time=2026-04-17T05:51:10.345Z level=INFO source=types.go:60 msg="inference compute" id=cpu library=cpu compute="" name=cpu description=cpu libdirs=ollama driver="" pci_id="" type="" total="31.2 GiB" available="31.2 GiB"
[ollama-sycl] | time=2026-04-17T05:51:10.345Z level=INFO source=routes.go:1860 msg="vram-based default context" total_vram="0 B" default_num_ctx=4096
[open-webui]  | Loading WEBUI_SECRET_KEY from file, not provided as an environment variable.
[open-webui]  | Loading WEBUI_SECRET_KEY from .webui_secret_key
[open-webui]  | INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
[open-webui]  | INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
[open-webui]  | WARNI [open_webui.env] 
[open-webui]  | 
[open-webui]  | WARNING: CORS_ALLOW_ORIGIN IS SET TO '*' - NOT RECOMMENDED FOR PRODUCTION DEPLOYMENTS.
[open-webui]  | 
[open-webui]  | WARNI [langchain_community.utils.user_agent] USER_AGENT environment variable not set, consider setting it to identify your requests.
[open-webui]  | 
[open-webui]  |  ██████╗ ██████╗ ███████╗███╗   ██╗    ██╗    ██╗███████╗██████╗ ██╗   ██╗██╗
[open-webui]  | ██╔═══██╗██╔══██╗██╔════╝████╗  ██║    ██║    ██║██╔════╝██╔══██╗██║   ██║██║
[open-webui]  | ██║   ██║██████╔╝█████╗  ██╔██╗ ██║    ██║ █╗ ██║█████╗  ██████╔╝██║   ██║██║
[open-webui]  | ██║   ██║██╔═══╝ ██╔══╝  ██║╚██╗██║    ██║███╗██║██╔══╝  ██╔══██╗██║   ██║██║
[open-webui]  | ╚██████╔╝██║     ███████╗██║ ╚████║    ╚███╔███╔╝███████╗██████╔╝╚██████╔╝██║
[open-webui]  |  ╚═════╝ ╚═╝     ╚══════╝╚═╝  ╚═══╝     ╚══╝╚══╝ ╚══════╝╚═════╝  ╚═════╝ ╚═╝
[open-webui]  | 
[open-webui]  | 
[open-webui]  | v0.8.12 - building the best AI user interface.
[open-webui]  | 
[open-webui]  | https://github.com/open-webui/open-webui
[open-webui]  | 
Fetching 30 files: 100%|██████████| 30/30 [00:00<00:00, 8530.21it/s]
Loading weights: 100%|██████████| 103/103 [00:00<00:00, 8094.53it/s]
[open-webui]  | BertModel LOAD REPORT from: /app/backend/data/cache/embedding/models/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf
[open-webui]  | Key                     | Status     |  | 
[open-webui]  | ------------------------+------------+--+-
[open-webui]  | embeddings.position_ids | UNEXPECTED |  | 
[open-webui]  | 
[open-webui]  | Notes:
[open-webui]  | - UNEXPECTED    :can be ignored when loading from different task/architecture; not ok if you expect identical arch.
[open-webui]  | INFO:     Started server process [1]
[open-webui]  | INFO:     Waiting for application startup.
[open-webui]  | 2026-04-17 05:51:20.452 | INFO     | open_webui.utils.logger:start_logger:192 - GLOBAL_LOG_LEVEL: INFO
[open-webui]  | 2026-04-17 05:51:20.452 | INFO     | open_webui.main:lifespan:631 - Installing external dependencies of functions and tools...
[open-webui]  | 2026-04-17 05:51:20.463 | INFO     | open_webui.utils.plugin:install_frontmatter_requirements:404 - No requirements found in frontmatter.
[open-webui]  | /usr/local/lib/python3.11/site-packages/jwt/api_jwt.py:371: InsecureKeyLengthWarning: The HMAC key is 16 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
[open-webui]  |   decoded = self.decode_complete(
[open-webui]  | 2026-04-17 05:51:22.113 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:53372 - "GET /api/version HTTP/1.1" 200
[open-webui]  | 2026-04-17 05:51:32.114 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:54934 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 05:53:32.110 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:57146 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 05:55:32.110 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:40664 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 05:56:33.104 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:35972 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 05:58:32.114 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:55122 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:00:32.107 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:60284 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:01:32.129 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:48622 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:03:32.110 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:37354 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:04:32.117 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:47326 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:06:31.103 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:57520 - "GET /api/version HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:06:32.141 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:57520 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:13:36.221 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:41752 - "GET /api/version HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:14:19.662 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:33308 - "POST /api/v1/chats/f1dd38d6-a106-4909-a66c-54220d6eb8c3 HTTP/1.1" 401
[open-webui]  | 2026-04-17 06:14:29.251 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42760 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:15:29.244 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:57174 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:16:29.260 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:44888 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:17:29.244 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:35074 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:18:29.258 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:35854 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:19:29.246 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:35032 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:20:29.260 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42670 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:21:29.261 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34346 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:22:29.246 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:45074 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:23:29.260 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:49050 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:24:29.247 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:56314 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:25:29.247 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:56500 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:26:29.246 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:38828 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:27:29.256 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:56876 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:28:29.246 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:35462 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:29:29.246 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:40652 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:30:21.501 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:37554 - "GET /api/version HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:31:39.676 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:53592 - "GET /api/version HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:31:41.516 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:53592 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:32:42.468 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:40482 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:34:41.493 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:38742 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:04.380 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /api/v1/configs/banners HTTP/1.1" 401
[open-webui]  | 2026-04-17 06:35:04.486 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /api/v1/tools/ HTTP/1.1" 401
[open-webui]  | 2026-04-17 06:35:04.488 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET /static/favicon.png HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:05.588 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET / HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:35:05.627 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET /static/custom.css HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:05.634 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /static/loader.js HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:05.638 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /static/splash.png HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:05.769 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /manifest.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:06.709 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /static/favicon.ico HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:06.976 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /api/config HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:06.992 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /api/v1/auths/ HTTP/1.1" 401
[open-webui]  | 2026-04-17 06:35:07.022 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /api/version HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.072 | INFO     | open_webui.models.auths:authenticate_user:123 - authenticate_user: admin@localhost
[open-webui]  | /usr/local/lib/python3.11/site-packages/jwt/api_jwt.py:153: InsecureKeyLengthWarning: The HMAC key is 16 bytes long, which is below the minimum recommended length of 32 bytes for SHA256. See RFC 7518 Section 3.2.
[open-webui]  |   return self._jws.encode(
[open-webui]  | 2026-04-17 06:35:07.320 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "POST /api/v1/auths/signin HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.341 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET /api/config HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.343 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /api/v1/users/user/settings HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.375 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "POST /api/v1/auths/update/timezone HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.404 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET /api/v1/folders/ HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.404 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42196 - "GET /api/v1/chats/all/tags HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.408 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42170 - "GET /api/v1/configs/banners HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.427 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42216 - "GET /api/v1/tools/ HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.428 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42206 - "GET /api/v1/users/user/settings HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.445 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET /api/v1/chats/pinned HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.452 | INFO     | open_webui.routers.ollama:get_all_models:311 - get_all_models()
[open-webui]  | 2026-04-17 06:35:07.454 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42224 - "GET /api/v1/users/5825adf1-9696-49c9-a3be-872f91e9d413/profile/image HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.459 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42216 - "GET /api/v1/terminals/ HTTP/1.1" 200
[ollama-sycl] | [GIN] 2026/04/17 - 06:35:07 | 200 |    1.261817ms |       10.89.0.5 | GET      "/api/tags"
[open-webui]  | 2026-04-17 06:35:07.473 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET /api/v1/chats/?page=1 HTTP/1.1" 200
[ollama-sycl] | [GIN] 2026/04/17 - 06:35:07 | 200 |      96.443µs |       10.89.0.5 | GET      "/api/ps"
[open-webui]  | 2026-04-17 06:35:07.482 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42206 - "GET /api/models HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.540 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42206 - "POST /api/v1/tasks/active/chats HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.578 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET /api/version/updates HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.640 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42206 - "GET /api/v1/configs/banners HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.644 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42174 - "GET /api/v1/models/model/profile/image?id=undefined&lang=de-DE HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.662 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42206 - "GET /api/v1/tools/ HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.664 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42224 - "GET /api/v1/functions/ HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.677 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42216 - "GET /api/v1/models/model/profile/image?id=qwen3:14b&lang=de-DE HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.681 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42206 - "GET /api/v1/functions/ HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:07.838 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42216 - "GET /api/v1/chats/?page=2 HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:09.186 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42216 - "GET /api/v1/chats/f1dd38d6-a106-4909-a66c-54220d6eb8c3 HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:09.231 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42216 - "GET /api/v1/chats/f1dd38d6-a106-4909-a66c-54220d6eb8c3/tags HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:09.240 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42216 - "GET /api/tasks/chat/f1dd38d6-a106-4909-a66c-54220d6eb8c3 HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:09.370 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42216 - "GET /api/v1/tools/ HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:09.372 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:42206 - "GET /api/v1/models/model/profile/image?id=gemma4:latest&lang=de-DE HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:33.003 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:60930 - "POST /api/v1/chats/f1dd38d6-a106-4909-a66c-54220d6eb8c3 HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:35:33.029 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:60930 - "POST /api/chat/completions HTTP/1.1" 200
[ollama-sycl] | time=2026-04-17T06:35:33.303Z level=WARN source=cpu_linux.go:130 msg="failed to parse CPU allowed micro secs" error="strconv.ParseInt: parsing \"max\": invalid syntax"
[ollama-sycl] | time=2026-04-17T06:35:33.521Z level=INFO source=model.go:97 msg="gemma4: token IDs" image=255999 image_end=258882 audio=256000 audio_end=258883
[ollama-sycl] | time=2026-04-17T06:35:33.521Z level=INFO source=server.go:444 msg="starting runner" cmd="/usr/bin/ollama runner --ollama-engine --model /root/.ollama/models/blobs/sha256-4c27e0f5b5adf02ac956c7322bd2ee7636fe3f45a8512c9aba5385242cb6e09a --port 39377"
[ollama-sycl] | time=2026-04-17T06:35:33.521Z level=INFO source=sched.go:484 msg="system memory" total="31.2 GiB" free="31.2 GiB" free_swap="8.0 GiB"
[ollama-sycl] | time=2026-04-17T06:35:33.521Z level=INFO source=server.go:771 msg="loading model" "model layers"=43 requested=-1
[ollama-sycl] | time=2026-04-17T06:35:33.534Z level=INFO source=runner.go:1417 msg="starting ollama engine"
[ollama-sycl] | time=2026-04-17T06:35:33.534Z level=INFO source=runner.go:1452 msg="Server listening on 127.0.0.1:39377"
[ollama-sycl] | time=2026-04-17T06:35:33.543Z level=INFO source=runner.go:1290 msg=load request="{Operation:fit LoraPath:[] Parallel:1 BatchSize:512 FlashAttention:Disabled KvSize:4096 KvCacheType: NumThreads:4 GPULayers:[] MultiUserCache:false ProjectorPath: MainGPU:0 UseMmap:false}"
[ollama-sycl] | time=2026-04-17T06:35:33.631Z level=INFO source=ggml.go:136 msg="" architecture=gemma4 file_type=Q4_K_M name="" description="" num_tensors=2131 num_key_values=55
[ollama-sycl] | load_backend: loaded CPU backend from /usr/lib/ollama/libggml-cpu-haswell.so
[ollama-sycl] | time=2026-04-17T06:35:33.637Z level=INFO source=ggml.go:104 msg=system CPU.0.SSE3=1 CPU.0.SSSE3=1 CPU.0.AVX=1 CPU.0.AVX2=1 CPU.0.F16C=1 CPU.0.FMA=1 CPU.0.BMI2=1 CPU.0.LLAMAFILE=1 CPU.1.LLAMAFILE=1 compiler=cgo(gcc)
[ollama-sycl] | time=2026-04-17T06:35:33.666Z level=INFO source=model.go:97 msg="gemma4: token IDs" image=255999 image_end=258882 audio=256000 audio_end=258883
[ollama-sycl] | time=2026-04-17T06:35:33.695Z level=INFO source=model.go:138 msg="vision: decode" elapsed=2.458663ms bounds=(0,0)-(2048,2048)
[ollama-sycl] | time=2026-04-17T06:35:33.899Z level=INFO source=model.go:145 msg="vision: preprocess" elapsed=203.177808ms size="[768 768]"
[ollama-sycl] | time=2026-04-17T06:35:33.899Z level=INFO source=model.go:148 msg="vision: pixelValues" shape="[768 768 3]" dim0=768 dim1=768 dim2=3
[ollama-sycl] | time=2026-04-17T06:35:33.899Z level=INFO source=model.go:152 msg="vision: patches" patchesX=48 patchesY=48 total=2304 patchSize=16
[ollama-sycl] | time=2026-04-17T06:35:33.900Z level=INFO source=model.go:156 msg="vision: encoded" elapsed=206.751691ms shape="[2560 256]"
[ollama-sycl] | time=2026-04-17T06:35:33.947Z level=INFO source=runner.go:1290 msg=load request="{Operation:alloc LoraPath:[] Parallel:1 BatchSize:512 FlashAttention:Disabled KvSize:4096 KvCacheType: NumThreads:4 GPULayers:[] MultiUserCache:false ProjectorPath: MainGPU:0 UseMmap:false}"
[ollama-sycl] | time=2026-04-17T06:35:34.060Z level=INFO source=model.go:97 msg="gemma4: token IDs" image=255999 image_end=258882 audio=256000 audio_end=258883
[ollama-sycl] | time=2026-04-17T06:35:34.081Z level=INFO source=model.go:138 msg="vision: decode" elapsed=1.150639ms bounds=(0,0)-(2048,2048)
[ollama-sycl] | time=2026-04-17T06:35:34.256Z level=INFO source=model.go:145 msg="vision: preprocess" elapsed=175.680563ms size="[768 768]"
[ollama-sycl] | time=2026-04-17T06:35:34.261Z level=INFO source=model.go:148 msg="vision: pixelValues" shape="[768 768 3]" dim0=768 dim1=768 dim2=3
[ollama-sycl] | time=2026-04-17T06:35:34.261Z level=INFO source=model.go:152 msg="vision: patches" patchesX=48 patchesY=48 total=2304 patchSize=16
[ollama-sycl] | time=2026-04-17T06:35:34.262Z level=INFO source=model.go:156 msg="vision: encoded" elapsed=182.887479ms shape="[2560 256]"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=runner.go:1290 msg=load request="{Operation:commit LoraPath:[] Parallel:1 BatchSize:512 FlashAttention:Disabled KvSize:4096 KvCacheType: NumThreads:4 GPULayers:[] MultiUserCache:false ProjectorPath: MainGPU:0 UseMmap:false}"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=ggml.go:482 msg="offloading 0 repeating layers to GPU"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=ggml.go:486 msg="offloading output layer to CPU"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=ggml.go:494 msg="offloaded 0/43 layers to GPU"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=device.go:245 msg="model weights" device=CPU size="9.4 GiB"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=device.go:256 msg="kv cache" device=CPU size="224.0 MiB"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=device.go:267 msg="compute graph" device=CPU size="276.8 MiB"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=device.go:272 msg="total memory" size="9.9 GiB"
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=sched.go:561 msg="loaded runners" count=1
[ollama-sycl] | time=2026-04-17T06:35:34.428Z level=INFO source=server.go:1364 msg="waiting for llama runner to start responding"
[ollama-sycl] | time=2026-04-17T06:35:34.429Z level=INFO source=server.go:1398 msg="waiting for server to become available" status="llm server loading model"
[ollama-sycl] | time=2026-04-17T06:35:39.950Z level=INFO source=server.go:1402 msg="llama runner started in 6.43 seconds"
[open-webui]  | 2026-04-17 06:36:06.316 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34020 - "GET /_app/version.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:13.415 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /static/custom.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.433 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34040 - "GET /_app/immutable/assets/Confetti.VzC_X4OY.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.435 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /manifest.json HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:13.438 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34044 - "GET /_app/immutable/assets/Toaster.DKF17Rty.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.440 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34046 - "GET /_app/immutable/assets/Modal.CSlFhZkq.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.440 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34056 - "GET /_app/immutable/assets/0.CK2XfXlw.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.442 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/assets/ConfirmDialog.DaQE45yT.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.444 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34040 - "GET /_app/immutable/assets/UserMenu.X_EDr3Bi.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.732 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /_app/immutable/assets/Markdown.BSTcku12.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.733 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34056 - "GET /_app/immutable/assets/2.BpqbiIOH.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.733 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34044 - "GET /_app/immutable/assets/FileItem.CNBty9SB.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.733 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/assets/Skeleton.D68k68zP.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.738 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34046 - "GET /_app/immutable/assets/Messages.BPOsJAE0.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.742 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34040 - "GET /_app/immutable/assets/RichTextInput.D0CG4PmL.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.744 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34044 - "GET /_app/immutable/assets/28.tn0RQdqM.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.748 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34056 - "GET /_app/immutable/assets/Chat.BfPPNywX.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.748 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/assets/Drawer.BBo9ZRVf.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:13.750 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /_app/immutable/assets/47.Gsrgvs3s.css HTTP/1.1" 304
[open-webui]  | 2026-04-17 06:36:15.821 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /_app/immutable/entry/start.Dxc_nQDu.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.839 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/chunks/DIeogL5L.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.843 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34056 - "GET /_app/immutable/chunks/CWj6FrbW.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.845 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34044 - "GET /_app/immutable/chunks/SJtPFgZZ.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.846 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34040 - "GET /_app/immutable/chunks/a0CMuves.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.848 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34046 - "GET /_app/immutable/chunks/B7vJtv02.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.896 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /_app/immutable/chunks/Coqcv2G2.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.902 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/chunks/C1FmrZbK.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.910 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34046 - "GET /_app/immutable/chunks/Bbm3UalE.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.914 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34044 - "GET /_app/immutable/chunks/B5jxyMe3.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.915 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34056 - "GET /_app/immutable/entry/app.Dgoue9TI.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.917 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34040 - "GET /_app/immutable/chunks/CZeb1kGS.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.940 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/chunks/69_IOA4Y.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.940 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34046 - "GET /_app/immutable/chunks/DWkfIKkC.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.943 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34044 - "GET /_app/immutable/chunks/6VWT9yGr.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.943 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34056 - "GET /_app/immutable/chunks/CKxXGAmO.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.943 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34040 - "GET /_app/immutable/chunks/DDjvPYNk.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.949 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /_app/immutable/chunks/CBHRBSi6.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.984 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34044 - "GET /_app/immutable/chunks/CJosuLQF.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.987 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34046 - "GET /_app/immutable/chunks/QjJsDpFa.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.989 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34056 - "GET /_app/immutable/chunks/Bfc47y5P.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.992 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/chunks/BT28bLwl.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.995 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /_app/immutable/chunks/D-VUtxN_.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:15.997 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34040 - "GET /_app/immutable/chunks/DqVciHRr.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:16.023 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34046 - "GET /_app/immutable/chunks/CXaewINb.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:16.024 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/nodes/1.BRfszfQL.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:16.024 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /_app/immutable/chunks/i8IuCWOI.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:16.025 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34044 - "GET /_app/immutable/chunks/2XBIlFOv.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:16.025 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34056 - "GET /_app/immutable/chunks/B4SeOjdr.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:16.031 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34040 - "GET /_app/immutable/chunks/DPUZC83J.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:16.091 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34072 - "GET /_app/immutable/chunks/4plv7jKU.js.map HTTP/1.1" 200
[open-webui]  | 2026-04-17 06:36:16.092 | INFO     | uvicorn.protocols.http.httptools_impl:send:483 - 10.89.0.5:34028 - "GET /_app/immutable/chunks/GPQ0Tcuu.js.map HTTP/1.1" 200
```

When you try to run a model you should see something like this:

`time=2026-04-16T22:18:21.707Z level=INFO source=ggml.go:482 msg="offloading 32 repeating layers to GPU"
time=2026-04-16T22:18:21.707Z level=INFO source=ggml.go:489 msg="offloading output layer to GPU"
time=2026-04-16T22:18:21.707Z level=INFO source=ggml.go:494 msg="offloaded 33/33 layers to GPU"`

EDIT: Sorry just saw that I posted the same thing

Okay I just took a look at the logs a few things stand out to me:
`[ollama-sycl] | time=2026-04-17T05:51:10.345Z level=INFO source=types.go:60 msg="inference compute" id=cpu library=cpu compute="" name=cpu description=cpu libdirs=ollama driver="" pci_id="" type="" total="31.2 GiB" available="31.2 GiB"`
Looks like your instance does not see the GPU try lspci and checking if you passed through your GPU to the container
Second it looks like you are trying to use Gemma4 that model does not work well on many Ollama instances yet let alone SYCL try something older like qwen 3.5 or a Mistral model.